#sub
{
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    margin-top: 50px;
    color: white;   
    
    background: linear-gradient(to right, #2980b9, #2c3e50);
}
h2{
    color: white;
}
#cont
{
    max-width: 50%;
    margin-left: 400px;
    max-height: 100%;
    margin-top: 300px;
}
p{
    display: flex;
    justify-content: center;
}